// standard colors
$white: #fff;
$green: #01873e;
$tooltip: #df9d35;
$red: red;
$custom_gray: #f1f2f5;
// swim lanes
$custom-red: #d74166;
$custom-green: #429686;
$custom-purple: #9a49b3;

// theme colors
$app-background: $custom_gray;

// buttons
$button-hover: #d4d5da;
$button-background: #e5e6eb;


$input-border: #9F9F9F;
